@using CookBook.Blazor.Client.Clients.Recipes
@using CookBook.Shared.Recipes

@* <RadzenDataList WrapItems="true" AllowPaging="true" Data="@_myRecipes" TItem="RecipeForListDto" PageSize="9"> *@
@*     <Template Context="order"> *@
@*         <RadzenCard Style="width:400px;"> *@
@*             <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center"> *@
@*                 <RadzenImage Path="https://i.blogs.es/057c60/pxfuel/500_333.jpeg" Style="width: 80px; height: 80px; border-radius: var(--rz-datalist-border-radius);"/> *@
@*                 <RadzenStack Gap="0"> *@
@*                     <RadzenText TextStyle="TextStyle.Body1"> *@
@*                         <b>@(order.Title ?? "Without Title")</b> *@
@*                     </RadzenText> *@
@*                     <RadzenText TextStyle="TextStyle.Subtitle1"> *@
@*                         <p>@order.Title</p> *@
@*                     </RadzenText> *@
@*                     <RadzenText TextStyle="TextStyle.Subtitle2"> *@
@*                         <p>1536214</p> *@
@*                     </RadzenText> *@
@*                 </RadzenStack> *@
@*             </RadzenStack> *@
@*         </RadzenCard> *@
@*     </Template> *@
@* </RadzenDataList> *@


@code {
    private IReadOnlyList<RecipeForListDto> _myRecipes = new List<RecipeForListDto>();

    [Inject]
    private RecipesClient Client { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await RefreshAsync();
    }

    private async Task RefreshAsync()
    {
        if (Client is null)
        {
            return;
        }

        _myRecipes = await Client.GetMyRecipesAsync();
        StateHasChanged();
    }

}