<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
    <DataCollectionRunSettings>
        <DataCollectors>
            <DataCollector friendlyName="Code Coverage" uri="datacollector://Microsoft/CodeCoverage/2.0">
                <Configuration>
                    <CodeCoverage>
                        <ModulePaths>
                            <Include>
                                <ModulePath>.*CookBook\.Data\.dll</ModulePath> 
                                <ModulePath>.*CookBook\.Core\.dll</ModulePath> 
                                <ModulePath>.*CookBook\.Application\.dll</ModulePath> 
                                <ModulePath>.*Sawnet\.Data\.dll</ModulePath> 
                                <ModulePath>.*Sawnet\.Core\.dll</ModulePath> 
                                <ModulePath>.*Sawnet\.Application\.dll</ModulePath> 
                            </Include>
                            <Exclude>
                                <ModulePath>.*Tests\.dll</ModulePath>
                                <ModulePath>.*Infrastructure\.dll</ModulePath>
                            </Exclude>
                        </ModulePaths>
                    </CodeCoverage>
                </Configuration>
            </DataCollector>
        </DataCollectors>
    </DataCollectionRunSettings>
</RunSettings>
